.card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: white;
    width: 30%;
    min-width: 256px;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    border:1px solid gray;
    margin-top: 40px;
    box-shadow: 3px 6px black;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:#04293A;
    margin:4px;
}
.card-title > .title {
    margin: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
}
.card-title > img {
    max-width: 120px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    width: 120px;
}

.card-body{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.btn {
    padding: 8px;
    margin:4px;
    background-color: #ECB365;
    color:#04293A;
    font-size:18px;
}
.btn-buy {
    background-color: chartreuse;
    color:white;
    border-radius: 10px;
    outline-color: chartreuse;
    width: 64px;
}
.btn-sell {
    background-color: lightgray;
    color:white;
    border-radius: 10px;
    outline-color: chartreuse;
    width: 64px;
}
.card-body > input {
    width: 48px;
    padding: 8px;
    font-size:18px;
    border-radius: 10px;

}
.btn:hover {
    padding: 8px;
    margin:4px;
    background-color:#064663;
    color:white;
    font-size:18px;
    cursor: pointer;
}